@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #212529;
}

body{
    font-family: Rajdhani;
    background-color: black;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.main-nav{
    border:1px solid red;
    height:50px;
    width:100%;
}

.sidebar{
    border:1px solid #444;
}

.main{
    border:1px solid #444;
}

.main-container{
    width:100% !important;
}

.character-side{
    min-height:700px
}

.character-col{
    background: url(../images/character.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:769px;
}

.map-img{
    width:80%;
}